<div class="div-btn">
  <button mat-icon-button mat-dialog-close aria-label="fechar">
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>Valor Sacado</h1>
<div  mat-dialog-content>
  <ul tabindex="-1" aria-label="lista das notas">
    <li tabindex="-1" *ngFor="let nota of data.valor_notas; let i = index">
      <mat-icon aria-hidden="true">local_atm</mat-icon>
      <span *ngIf="data.qtdNotas[i] === 1; else plural"><b>{{data.qtdNotas[i]}}</b> nota de {{nota}}</span>
      <ng-template #plural>
        <span><b>{{data.qtdNotas[i]}}</b> notas de {{nota}}</span>
      </ng-template>
    </li>
  </ul>
  <b tabindex="-1">valor total sacado: {{data.saque - data.valor_resto}}</b>
</div>
