.main {
  margin: 3px 0 24px 0 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  font-family:'Merriweather Sans', sans-serif;
}
mat-card-title{
  font-family:'Merriweather Sans', sans-serif;
  font-weight: 800;
}
mat-card-header{
  border-bottom: 1px #80808026 solid;
}
mat-card {
  height: 350px;
  padding: 0px 20px;
}
mat-card-actions {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
mat-form-field {
  width: 100%;
}
mat-slider {
  width: 100%;
}
.sacar {
  width: 60%;
  max-width: 400px;
}

.lista-nota {
  display: flex;
  flex-wrap: wrap;
}

.nota{
  max-width: 15%;
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-family:'Merriweather Sans', sans-serif;
  font-weight: 800;
}
