<div class="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Caixa Eletrônico</h1></mat-card-title>
    </mat-card-header>
    <mat-card-actions >
      <div>
        <mat-form-field [formGroup]="formCaixa"  role="form" >
          <mat-label aria-label="valor">Valor</mat-label>
          <input
            aria-label="reais, valor saque"
            matInput
            type="number"
            formControlName="valueSaque"
            [(ngModel)]="valueSaque"
          >
          <span matTextPrefix aria-hidden="true">R$&nbsp;</span>
          <mat-error >{{errorMensagem()}}</mat-error>
        </mat-form-field>
        <mat-slider
          aria-label="valor do saque"
          [max]="saqueMax"
          [min]="saqueMin"
          [step]="10"
        >
          <input matSliderThumb [(ngModel)]="valueSaque" #slider>
        </mat-slider>
      </div>
      <button
        class="sacar"
        color="primary"
        mat-raised-button
        [disabled]="valueSaque < saqueMin || valueSaque > saqueMax"
        (click)="saque()"
      >Sacar</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="listNotas.length">
    <h2>Notas Disponíveis</h2>
    <div  class="lista-nota">
      <span class="nota" *ngFor="let item of listNotas" attr.aria-label="nota {{item}}">
        <mat-icon aria-hidden="true">local_atm</mat-icon> {{item}}
      </span>
    </div>
  </div>
<hr>
  <div></div>
</div>

